.utop-block {
	padding-top:6px;
	position:relative;
}
.utop_user {
	display:inline-block;
	width:82px;
	font-size:11px;
	color:#666;
	padding-bottom:4px;
	position:relative;
	overflow:hidden;
	max-height:75px;
}
.utop_avatar {
	margin:0px auto;
	display:block;
	padding:2px;
	display:inline-block;
	border:1px solid #CBDFE8;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:0px;
	position:relative;
}
.utop_avatar img {
	height:58px;
	max-width:58px;
}
.utop_user_number {
	position:absolute;
	bottom:4px;
	right:4px;
	background:rgba(0,0,0,0.6);
	color:#fff;
	min-width:8px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	padding:0px 3px;
	line-height:14px;
	height:14px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#utop-hint {
	position:absolute;
	top:0px;
	left:0px;
	background:#000;
	background:rgba(0,0,0,0.8);
	font-size:11px;
	line-height:12px;
	color:#fff;
	padding:5px;
	width:150px;
	font-weight: bold;
	box-shadow: 0 0 3px rgba(255,255,255,0.3);
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	display:none;
	z-index:99;
}